@model Craft.Models.HardwareUnitSpecification

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_CmsLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>HardwareUnitSpecification</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AttributeValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttributeValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortInfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilterComponent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilterComponent.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HardwareUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HardwareUnit.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComponentSpecification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComponentSpecification.ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
