@model IEnumerable<Craft.Models.HardwareUnitSpecification>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CmsLayout.cshtml";
}

<h1>Hardware Unit Specification</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AttributeValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilterComponent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HardwareUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComponentSpecification)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AttributeValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilterComponent.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HardwareUnit.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComponentSpecification.AttributeName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
