@model IEnumerable<Craft.Models.FilterCategory>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CmsLayout.cshtml";
}

<h1>Filter Categories</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="myTable" class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HardwareComponent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HardwareComponent.Name)
            </td>
            <td>
                <a class="d-block" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                <a class="d-block" asp-action="Details" asp-route-id="@item.Id">Details</a> 
                <a class="d-block" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
